# Common Lombok Configuration

lombok.addLombokGeneratedAnnotation = true
lombok.addJavaxGeneratedAnnotation = true
lombok.extern.findbugs.addSuppressFBWarnings = true
config.stopBubbling = true
lombok.noArgsConstructor.extraPrivate = false
lombok.addNullAnnotations = javax

# Custom sample log
lombok.log.custom.declaration = com.tencent.skywalker.facade.log.SampleLog com.tencent.skywalker.facade.log.SampleLogFactory.getLogger(TYPE)(TOPIC)
